%h2
  = 'Edit '
  = resource_name.to_s.humanize
.row
  .span6
    %h3 User Settings
    = simple_form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal', :method => :put } do |f|
      = f.error_notification
      .inputs
        = f.input :email, :required => true, :autofocus => true
        = f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false
        = f.input :password_confirmation, :required => false
        = f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true

      .actions
        = f.button :submit, "Update"

    %h3 Cancel my account

    %p
      = 'Unhappy?'
      = link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete
      = link_to "Back", :back
  .span6
    %h3 Upload de CV
    = simple_form_for current_user, :html => { :class => 'form-horizontal' } do |f|
      .controls
        = f.file_field :cv
        - if current_user.cv?
          %p.help-block
            = "Vous avez déjà uploadé un CV. "
          %p
            = link_to "Télécharger mon CV.", current_user.cv.url
      .form-actions
        = f.submit "Envoyer CV", :class => 'btn-primary'